*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    background-color: #e99314;
    color: #645800;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 100px;
    border-color:whitesmoke;
    border: solid;
    display: inline-flex;
}

