@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=New+Tegomin&family=Roboto+Condensed:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('/img/pointer-cursor.png'), auto;
}

/*background image*/

body {
    background-color: #605400;
    background-image: url('/img/wallpaper2.jpg');
    background-repeat: repeat;
    flex-wrap: wrap;
  }

/*navigation bar*/

.topnav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top:0;
    padding-bottom:0;

}

.navbar a{
    letter-spacing: 1px;
    color: #605400;
    text-align: center;
    font-size: 20px;
    background-color: orange;
    border: solid;
    border-width: 3px;
    border-color: #423b00;
    border-radius: 80px;
    justify-content: space-evenly;
    align-content: center;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    font-family:'Dela Gothic One', cursive;
}

.topnav1{
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    display:flex;
}

a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

a:active{
    transform: scale(0.9);
}

/*home section*/

.title{
    font-family: 'Dela Gothic One', cursive;
    color: #ee9401;
    font-size: 3.5em;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0px 5px #423b00, 1px 5px #423b00, 1px 5px #423b00, 1px 5px #423b00;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    line-height: 1em;

}

title:hover{
    font-size: 10%;
}

.titletwo{
    color: #ee9401;
    text-align: center;
    padding-top: 10px;
    font-family: 'Lobster', cursive;
    text-shadow: 0px 1px #a5621f, 1px 2px #a5621f, 1px 2px #a5621f, 1px 2px #a5621f;
    letter-spacing: 0.5px;
}

/*about me section*/

#about .title{
    padding-top: 0;
}

.container1 p{
    font-size: 20px;
    text-align: center;
    color: #cd7d2e;
    font-family: 'Lobster', cursive;
}

#about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    border: solid;
    border-color: #ee9401;
    border-radius: 50%;
}
/*blog section*/

#blogpage .title{
    font-family: 'Dela Gothic One', cursive;
    color: #ee9401;
    font-size: 5em;
    display: flex;
    flex-wrap: wrap;
    text-shadow: 0px 5px #423b00, 1px 5px #423b00, 1px 5px #423b00, 1px 5px #423b00;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom:70px;
    line-height: 1em;
    text-decoration: none;
}

.blog img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: solid;
    border-color: #ee9401;
    border-radius: 50%;
}

#blogpage h1{
    font-family: 'Dela Gothic One', cursive;
    color: #ee9401;
    text-transform: uppercase;
    font-size:18px;
    text-align: center;
    text-decoration: none;
}

#blogpage h2{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #a5621f;
    font-size: 20px;
    text-decoration: underline;
}

#blogpage p{
    font-family: 'Dela Gothic One', cursive;
    color:#cd7d2e;
    padding-bottom: 30px;
    margin: 10px;
    text-align:center;
}


/*contact section*/

#contact{
    font-family: 'Dela Gothic One', cursive;
    color: #ee9401;
    text-align: center;
    font-size: 1.5em;
}

#contactlinks img{
    width:100px;
    height:100px;
    display: flex;
    align-items: center;
}

.pdfresume a{
    color: #605400;
    padding: 1em 1.5em;
    font-size: 20px;
    background-color: orange;
    border: solid;
    border-width: 3px;
    border-color: #423b00;
    border-radius: 80px;
    align-content: center;
    display: inline-flex;
    margin: 20px;
    text-decoration: none;
    font-family:'Dela Gothic One', cursive;
}

.footer{
    padding-top: 20px;
    padding-bottom: 2.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
    margin-bottom: 0;
    background-repeat: repeat;
    flex-wrap: wrap;
    background-image: url(/img/footer2.jpg);

}

.footer .footer-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
}

  /* responsive media queries */

@media only screen and (min-width: 600px) {
    /*larger than 601px - 768px*/
     /* For tablets: */

     /*navbar section*/

     *{
        cursor: url('/img/pointer-cursor.png'), auto;
     }
    .navbar{
        display: flex;
        justify-content: center;
    }

    .navbar .topnav1{
        align-items: center; 
        display: inline-flex;
        margin-top: 10px;
        padding: 10px; 
        flex-direction: row;
        width: 50%;
        height: 20%;
        /* border: green solid 3px; */
        justify-content: space-evenly;
        display: flex;
    }
    
    .navbar a{
        width: 100%;
        height: 50px;
        display: inline-flex;
        padding: 30px;
    }

    a:hover{
        text-decoration: underline;
        transform: scale(1.1);
    
    }
    
    a:active{
        transform: scale(0.9);
    }

    /*home section*/

    #home{
        margin:auto; 
        padding-top: 200px; 
        font-size: 1em; 
        text-align: center;
    }

    /*about section*/

    #about{
        padding-top: 20px;
    }
    #about .title{
        font-size: 6em;
        padding-top: 0;
    }

    .container1 p{
        font-size: 25px;
    }

    #about img{
        width: 400px;
        height: 400px;
        display: block;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        border: solid;
        border-color: #ee9401;
        border-radius: 50%;
    }

    /*blog section*/

    #blogpage .title{
        font-size: 130px;
    }
    
    .blogtitle{
        font-size: 2em;
        text-decoration: none;
    }

    .blogdate{
        font-size: 30px;
        text-decoration: underline;
    }

    .blog p{
        font-size: 20px;
    }

    #blog img{
        width: 500px;
        height: 500px;
    }

}
@media only screen and (min-width: 769px) {
    /*anything beyong 769px*/
  /* For desktop: */

  /*navbar section*/
    *{
        cursor: url('/Portfolio-Bene/img/pointer-cursor.png'), auto;
    }
  
    .navbar a{
     letter-spacing: 1px;
     color: #605400;
     align-items: center;
     text-align: center;
     background-color: orange;
     border: solid;
     border-width: 3px;
     border-color: #423b00;
     border-radius: 80px;
     align-content: center;
     flex-direction: row;
     text-decoration: none;
     font-family:'Dela Gothic One', cursive;
    }

   .topnav1{
     display:inline-flex;
     flex-direction: row;
     align-content: center; 
    }
    
    a:hover{
        text-decoration: underline;
        transform: scale(1.1);
    }
    
    a:active{
        transform: scale(0.9);
    }

    /*home section*/

    .title{
        font-size: 100px;
        padding-top: 10px;
    }

    /*about me section*/

    #about .title{
        font-size: 70px;
    }

    #about img{
        width: 300px;
        height: 300px;
    }

    .container1 p{
        font-size: 20px;
        padding-bottom: 50px;
    }

    /*blog section*/

    /*blog entry 1*/

    .blog-container1{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .blog-container1 .img1{
        justify-content: flex-start;
    }

    .blog-container1 .entry1{
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .blogpost1 p{
        display: flex;
        justify-content: left;


    }

    /*blog entry 2*/

    .blog-container2{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .blog-container2 .img2{
        justify-content: flex-start;
    }

    .blog-container2 .entry2{
        justify-content: center;
        align-content: center;
    }

    /*blog entry 3*/

    .blog-container3{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .blog-container3 .img3{
        justify-content: flex-start;
    }

    .blog-container3 .entry3, h1{
        justify-content: left;
        text-align: left;
    }
    

    /*blog entry 4*/

    .blog-container4{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .blog-container4 .img4{
        justify-content: flex-start;
    }

    /*blog entry 5*/

    .blog-container5{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .blog-container5 .img5{
        justify-content: flex-start;
    }

}